{% extends 'admin/master.html.twig' %}

{% block body %}
    <h1>Category edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Update</button>
    {{ form_end(edit_form) }}
            <a href="{{ path('category_index') }}" class="btn btn-default pull-right">Back to the list</a>
{% endblock %}
