{% extends 'admin/master.html.twig' %}
{% block body %}
    <h1>Category creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Create</button>
    {{ form_end(form) }}
       <a href="{{ path('category_index') }}" class="btn btn-default pull-right">Back to the list</a>
{% endblock %}
